body {
    margin: 0px;
}

.ele {
    margin: 10px 0px;
}

.card-buttons {
    margin: 10px 0px;
}

#TODO-aendern {
    font-size: 14px;
}

#impressum_text {
    padding: 18px;
}

#progress{
    padding-top: 10px;  
}

.form-range {
    width: 100%;
}

#edit-hundred {
    float: right;
} 